@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-mapbox-ac-menu {
  width: 100%;
  border: solid 3px red;
  position: absolute;
  z-index: 9999;
  color: #000;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dark-react-mapbox-ac-menu {
  background: #1f2937;
}

div .react-mapbox-ac-input {
  width: 95%;
  color: #000;
  background: #fff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border: none transparent;
  outline: none;
  border: solid 1px #7c3aed5d;
  padding: 8px 1.4em;
}

div .react-mapbox-ac-input:focus {
  border: solid 1px #7c3aed;
}

div .react-mapbox-ac-input-dark {
  background: #1f2937;
  color: #fff;
}

div .react-mapbox-ac-input-dark:focus {
  box-shadow: 0 0 3px 1px #7b33f8;
}

.react-mapbox-ac-input-dark::placeholder {
  color: #fff;
}

.react-mapbox-ac-suggestion {
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.is-dark {
  background-color: #1f2937;
  color: #fff;
}

.react-mapbox-ac-suggestion:hover {
  background-color: #6d28d9;
  color: #fff;
}

/* .pin {} */

.pin > div:last-child {
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
}

.popup-container {
  position: relative;
}

.popup-title {
  position: absolute;
  left: 0;
  bottom: 4px;
  max-width: 200px; /* Adjust as needed */
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust as needed */
  color: white;
  text-align: center;
  font-weight: bold;
}

.pin {
  fill: #ee3616; /* Adjust as needed */
}

.mapboxgl-popup-conten {
  padding: 0 !important;
}
